{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2>You can Log In here</h2>

    <form method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="column">
                    {{ form.username.label_tag }}
                </div>
                <div class="column">
                    {{ form.username }}
                </div>

                <div class="column">
                    {{ form.password.label_tag }}
                </div>

                <div class="column">
                    {{ form.password }}
                </div>
            </div>
        </div>

        {% if form.errors %}
        <br>
        <p>{{ form.errors }}</p>
        {% endif %}

        <br>
        <button class="btn btn-default btn-info" type="submit">Login</button>
    </form>

</div>

{% endblock %}