{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <br>
    <div>
        <h2>User Registration</h2>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="container">
            {{ form|crispy }}
        </div>
        <br>
        <div class="container">
            <button class="btn btn-default btn-info" type="submit">Register</button>
        </div>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}